<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</head>


<header class="blue">


    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
        {% elif message.tags == 'info'%}
            <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% elif message.tags == 'warning'%}
            <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
        {% elif message.tags == 'error'%}
            <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
        {% endif %}
    {% endfor %}
    {% endif %}
    
    <nav>
    <div class="nav-wrapper" style="background-color: #048CD7;">
        <a href="/" class="brand-logo"><i class="large material-icons">movie</i>Moviehub</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">home</a></li>
        {% if user.is_authenticated %}
            <li><a href="/account">{{user.username|title}}</a></li>
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {% endif %}
        </ul>
    </div>
    </nav>
    

</header>
<br><br>





<div class="row s6">
    <div class="col s7 offset-s1">
    {% block content %}
    {% endblock %}
    </div>
    <br><br><br><br>
    <div class="col s2 offset-s1">
        <div class="collection">
            <a href="/movie/add" class="collection-item">add movie</a>
            <a href="/account" class="collection-item">account</a>
        </div>
    </div>
</div>




<script>
    M.AutoInit();
</script>

