{% extends 'main/header.html' %}
<!--
<br><br>
<div class="row">
<form class="col s12">
    <div class="row">
        <form class="col s12">
            <div class="container" id="registerform">                    
                <form method="POST">
                    <table>                            
                        {% csrf_token %}
                        {{form.as_table}}
                    </table>                        
                    <br>
                    <button class="btn" style="float:right; display: table;" type="submit">submit</button>
                </form>
            </div>
        </form>
    </div>
        
</form>
</div>
-->






{% block content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button style="background-color:#048CD7; color:white" class="btn btn-outline-info" type="submit">Sign Up</button>

        </form>

        If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.
    </div>
{% endblock %}

        